@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

.landing {
  height: 100%;
  background-image: url(http://foothillertech.com/student/webdesign/2016/02_05/projects/photoAlbum/assets/images/space3.jpg);
  background-repeat: repeat;
  background-size: cover;
  top: 0;
  margin: auto;
}

#name{
  float: right;
  color: white;
  margin-top: 2.3%;
  margin-right: 2%;
}

.logout-btn {
  float: right;
  cursor: pointer;
  text-align: center;
  width: 100px;
  font-family: Cabin Condensed, sans-serif;
  border-width: 2px;
  border-radius: 5px;
  border-color: white;
  border-style: solid;
  color: white;
  margin-top: 2%;
  margin-right: 2%;
  padding: 5px;
  transition-duration: .3s;
}

.logout-btn:hover {
  font-size: 1.2em;
  transition-duration: .3s;
}

.landing-inner-top {
  display: flex;
  height: 80%;
}

.landing-inner-top-nav {
  height: 10%;
}

.landing-inner-top-nav-container {
  margin-top: 1%;
  margin-left: 2%;
  float: left;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  cursor: pointer;
}

.cabin-text {
  background: rgba(114, 114, 114, 0.336);
  height: 100%;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  overflow-x: auto;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-bar {
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

#playlist-container {
  width: 20%;
  max-width: 20%;
  min-width: 20%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 150ms linear;
  color: white;
}

#playlist-container.show-playlist {
  transform: translateX(0);
}

#playlist-container.hide-playlist {
  transform: translateX(-100%);
}

.playlist-container-right {
  width: 25%;
  max-width: 25%;
  min-width: 25%;
  height: 100%;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5em;
  color: white;
}

.landing-inner-top-content {
  width: 55%;
  min-width: 55%;
  max-width: 55%;
  height: 100%;
  text-align: center;
}

.landing-inner-top-searchbar {
  width: 40%;
  margin-top: 2%;
  color: black;
}

.player {
  height: 10%;
  max-height: 10%;
  min-height: 10%;
}