.button {
  -webkit-user-select: none;
  height: 50px;
  width: 50px;
}
.playButton {
  -webkit-user-select: none;
  height: 70px;
  width: 70px;
}
.song-title-text{
  -webkit-user-select: none;
  font-size: 1.5em;
  margin-left: 15px;
  text-align: left;
  font-weight: bolder;
  color: #FFFFFF;
}
.song-artist-text{
  margin-left: 15px;
  -webkit-user-select: none;
  text-align: left;
  color: rgb(175, 175, 175);
}
.controls-container{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.media-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  min-width: 100%;
  width: 100%;
  min-height: 90px;
  position: fixed;
  bottom: 0;
  background: #282828;
}
.media-container-info {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  width: 25%;
}
.media-container-controls-seekbar{
  display: flex;
  flex-flow:column nowrap;
  align-items: center;
  width: 50%;
}
.media-container-volume{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  width: 25%;
}