.media-container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background: #282828;
}

.song-info-container{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 25%;
}

.song-info-title{
  font-size: 1.75em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  -webkit-user-select: none;
  font-family: 'Roboto Condensed', sans-serif;
  margin-left: 15px;
  text-align: left;
  font-weight: bolder;
  color: #FFFFFF;
}

.song-info-artist{
  font-size: 1.25em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 15px;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-user-select: none;
  text-align: left;
  color: rgb(175, 175, 175);
}

.media-controls-audio-seek-bar-container{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  height: 100%;
  min-width: 300px;
}

.volume-controls-container{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 25%;
  min-width: 200px;
}