.current-time-text {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    width: fit-content;
    float:left;
    margin-right: 5px;
}
.total-duration-text {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    width: fit-content;
    float:left;
    margin-left: 5px;
}
.seek-bar {
    background: #B3B3B3;
    height: 10px;
    width: 300px;
    border-radius: 50px;
    border: 1px solid #404040;
    float:left;
    margin-top: 5px;
}
.filler{
    background: #1da598;
    height: 100%;
    border-radius: inherit;
    border: 1px solid #1da598;
    transition: width .2s linear;
}