.seek-bar-container{
    background: #B3B3B3;
    position: relative;
    height: 5px;
    width: 100%;
    border-radius: 50px;
}
.filler{
    z-index: 1;
    position: absolute;
    background: #1CB854;
    height: 100%;
    border-radius: inherit;
    transition: width;
}
.slider {
    z-index: 2;
    position: absolute;
    -webkit-appearance: none;
    background-color: transparent;
    outline: none;
    width: 70%;
    height: 5px;
    opacity: 0;
}
.slider:hover{
    opacity: 1;
}
.slider:active{
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    z-index: 3;
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    cursor: pointer;
}