@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

.songButton{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  min-height: fit-content;
  height: 3em;
  margin: 6;
  outline: none;
  padding: 8;
  border-color: transparent;
  background: transparent;
  width: 100%;
}
.songButton:hover{
  background: rgba(24, 24, 24, 0.781);
}
.songButton:focus{
  background: rgba(24, 24, 24, 0.781);
}
.title-artist-container{
  width: 85%;
}
.title{
  line-height: 1.1em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  -webkit-user-select: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
  margin-left: 15px;
  text-align: left;
  font-weight: bolder;
  color: #FFFFFF;
}
.artist{
  line-height: 1.1em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 15px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.66em;
  -webkit-user-select: none;
  text-align: left;
  color: rgb(175, 175, 175);
}
.duration{
  width: 10%;
  font-family: 'Roboto Condensed', sans-serif;
  justify-self: flex-end;
  font-size: 0.8em;
  -webkit-user-select: none;
  text-align: center;
  color: rgb(175, 175, 175);
}